<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="V_Culindr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="V_Culindr.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <V_Culindr.Properties.Settings>
            <setting name="a" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="aaa" serializeAs="String">
                <value>Microsoft Sans Serif, 15.75pt, style=Bold, Italic</value>
            </setting>
        </V_Culindr.Properties.Settings>
        <V_Culindr.Settings1>
            <setting name="Ot" serializeAs="String">
                <value />
            </setting>
            <setting name="Do" serializeAs="String">
                <value />
            </setting>
            <setting name="R" serializeAs="String">
                <value />
            </setting>
            <setting name="H" serializeAs="String">
                <value />
            </setting>
        </V_Culindr.Settings1>
    </userSettings>
</configuration>